body {
	-webkit-animation: appear 200ms ease;
	animation: appear 200ms ease;
	font-family: 'Roboto', arial;
    margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1 {
    font-size: 9.7vw;
	margin: 0;
	color: white;

}

.landing {
	position: relative;
    background-color: #0090FF;
    padding: 10vh 2vw;
	height: 100vh;
	padding: 5vh;
}

.landing-img {
	position: absolute;
	bottom: 0;
	right: 2vw;
}

.about {
	padding: 5vh;
}

div {
	box-sizing: border-box;
}
