body {
	-webkit-animation: appear 200ms ease;
	animation: appear 200ms ease;
	font-family: 'Roboto', arial;
    margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1 {
    font-size: 9.7vw;
	margin: 0;
	color: white;
}

h2 {
	font-size: 5vw;
}

h3 {
	font-size: 3vw;
}

.landing {
	position: relative;
    background-color: #0090FF;
    padding: 10vh 2vw;
	height: 100vh;
	padding: 10vh 5vw;
	background-image: url('../assets/img/lol.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-blend-mode: overlay;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
